html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

body, .demo-container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

video, canvas {
  position: absolute;
}

video {
  object-fit: cover;
}

#pointCounter {
  color: #fff;
  position: absolute;
  background-color: #000;
  font-size: 50px;
  font-weight: bold;
}